#artists-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 80%;
  margin: 3rem auto;
  align-items: center;
}

.artist {
  display: flex;
  flex-direction: column;
  flex: 1 1 250px; /* allows growing and shrinking */
  margin: 1rem;
  align-items: center;
  padding: 5px;
  max-width: 300px; /* optional: limit card width */
  transition: transform 0.5s ease, box-shadow 0.3s ease;
}

.artist:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.artist-page-img {
  width: 18rem;
  height: 18rem;
}

#all-artists {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

#all-artists a {
  text-decoration: none;
  color: black;
}
/* .artist {
  background: white;
} */

/* 
#all-artists {
  background: lightblue;
}  */
