#artist-right {
  display: flex;
  flex-direction: column;
  flex: 1;
  text-align: start;
  padding: 20px;
  /* border: 1px solid red; */
  margin-left: 1rem;
}

#artist-left {
  align-items: center;
  justify-content: start;
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

#artist-info-image {
  height: 370px;
  min-width: 370px;
  border-radius: 15px;
}

#artist-info-links {
  display: flex;
  margin-top: 1rem;
  margin: 0 auto;
  justify-content: space-between;
  width: 500px;
}

#artist-info-links img {
  margin: 3px;
  width: 65px;
  object-fit: contain;
  height: 65px;
}

#artist-info {
  display: flex;
  flex-direction: column;
  width: 90%;
  justify-content: center;
  font-size: 1.2rem;
  background-color: white;
  border: 1px solid gray;
  border-radius: 20px;
  /* margin-top: 3rem; */
  padding: 20px;
  flex-wrap: wrap;
  gap: 1rem;
}

#artist-row {
  display: flex;
  flex: 1;
  flex-direction: row;
}
#artist-right > *:not(:last-child),
#artist-left > *:not(:last-child) {
  margin-bottom: 1rem;
}

#artist-info-container {
  display: flex;
  /* padding: 20 10px; */
  /* border: 1px solid black; */
  width: 90%;
  margin: 3rem auto;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

#artist-bio {
  width: 80%;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.5;
  padding: 1rem;
  border-top: 1px solid #ccc;
}

#upcoming-gigs {
  text-align: center;
  font-size: 2.5rem;
}

#upcoming-gigs-container {
  display: flex;
  flex-direction: column;
  /* border: 5px solid black; */
  width: 90%;
  margin: 3rem auto;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.artist-info-gig-img {
  width: 225px;
  height: 225px;
  /* border-radius: 15px; */
}
