#artist-right {
  display: flex;
  flex-direction: column;
  flex: 1;
  text-align: start;
  padding: 20px;
  /* border: 1px solid red; */
  margin-left: 1rem;
}

#artist-right h2 {
  text-align: center;
  padding: 0;
  margin: 0;
}

#artist-left {
  align-items: center;
  justify-content: start;
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

#artist-info-image {
  width: 500px;
}

#artist-info-links {
  display: flex;
  margin-top: 1rem;
  justify-content: space-between;
  width: 500px;
}

#artist-info-links img {
  margin: 3px;
  width: 65px;
  object-fit: contain;
  height: 65px;
}

#artist-info {
  display: flex;
  width: 90%;
  justify-content: center;
  font-size: 1.2rem;
  background-color: white;
  border: 1px solid gray;
  min-height: 50rem;
  margin-top: 3rem;
  padding: 20px;
  flex-wrap: wrap;
}

#artist-row {
  display: flex;
  flex: 1;
  flex-direction: row;
}

#artist-info-container {
  display: flex;
  /* padding: 20 10px; */
  width: 90%;
  margin: 3rem auto;
  text-align: center;
  flex-direction: column;
}

#artist-bio {
  width: 80%;
  margin: 1rem auto;
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.5;
  padding: 1rem;
  border-top: 1px solid #ccc;
}
