.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin: 1rem;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  margin: 1rem;
}

#create-gig {
  border: 1px solid gray;
  width: 40%;
  margin: 2rem auto;
  padding: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#create-gig input,
select {
  padding: 0.75rem;
  border: 1px solid black;
  border-radius: 0.5rem;
  width: 12rem;
}

#create-gig h3,
h2 {
  margin: 0;
}

#create-btn {
  width: 33%;
  padding: 0px;
  line-height: 35px;
  background-color: rgb(255, 255, 255);
  margin: 0 auto;
}

#create-btn:hover {
  background-color: #fbeee0;
}
