#gig-buttons {
  display: flex;
  justify-content: end;
  gap: 1rem;
}

#create-gig-btn {
  width: 175px;
  margin: 15px 0;
  background-color: rgb(255, 255, 255);
}

#create-gig-btn:hover {
  background-color: #fbeee0;
}

.artist-img {
  width: 175px;
  height: 175px;
}
